<!DOCTYPE html>
<html>

<head>
	<title>
		New Artist
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<nav>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</nav>

  <header>
	<div><a href="/"><img src="/images/logo-siw.png" width="30%"/></a></div>
  </header>
	
	<h1>Aggiungi un artista</h1>
	

	
	<form th:action="@{/admin/artist}" method="POST" th:object="${artist}" enctype="multipart/form-data" >
	
	    <div th:if="${#fields.hasGlobalErrors()}">
          <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errore</p>
        
        </div>
	
		
		<div>
			<label>Nome:</label> <span><input type="text" th:field="${artist.name}" placeholder="Nome.." /></span>
			
			 <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
		</div>

		<div>
			<label>Cognome:</label> <span><input type="text" th:field="${artist.surname}" placeholder="Cognome.." /></span>
			
			 <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
		</div>

		<div>
			<label>Data di nascita:</label> <span><input type="date" th:field="${artist.dateOfBirth}" /></span>
			
		</div>
		
		<hr>
		
		<div>
			<label>Data di morte:</label> <span><input type="date" th:field="${artist.dateOfDeath}" /></span>
		</div>
		<hr>
		
		 <div>
		<label>Fotografia (url):</label> 
		<input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg , image/jpg" />
		</div>
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
		
	</form>
	

</body>

</html>